dotconfig/*
!*dotconfig/alacritty/
!*dotconfig/dolphinrc/
!*dotconfig/easyeffects/
!*dotconfig/hypr/
!*dotconfig/i3/
!*dotconfig/kmonad/
!*dotconfig/noisetorch/
!*dotconfig/nvim/
!*dotconfig/obs-studio/
!*dotconfig/openttd-jgrpp/
!*dotconfig/picom/
!*dotconfig/pipewire/
!*dotconfig/polybar/
!*dotconfig/pulse/
!*dotconfig/solaar/
!*dotconfig/solvespace/
!*dotconfig/starship.toml
!*dotconfig/sway/
!*dotconfig/trashrc/
!*dotconfig/vkBasalt/
!*dotconfig/waybar/
!*dotconfig/zsh.d/
!*dotconfig/kanata/

**/logs/**
**/profiler**
**secret**
**private**
