@define-color bgcolor #313244; /* background color */
@define-color fgcolor #ffffff; /* foreground color */
@define-color charging #07fb05; /* battery charging color */
@define-color plugged #acfcad; /* ac plugged color */
@define-color critical #ff0000; /* critical color */
@define-color warning #f3f809; /* warning color */
@define-color hover #94a6e3; /* mouse hover over workspace color */
@define-color bgfocus #323d43; /* unfocused workspace color background */
@define-color fgfocus #a1a1a1; /* unfocused workspace color foreground */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 10px;
  font-stretch: extra-condensed;
}

#waybar {
  background: @bgcolor;
  font-family: "NotoSansMono";
  font-weight: 500;
  color: @fgcolor;
}
#workspaces {
  padding-left: 0;
}
#workspaces button {
  padding-left: 5px;
  padding-right: 5px;
  background: #6c7086;
  color: #cdd6f4;
  border: 1px solid #444;
}

#workspaces button.active {
  background: #555;
  color: orange;
  border: 1px solid white;
}

#workspaces button.visible {
  background: @bgfocus;
}
#workspaces label {
  padding: 0;
}
#workspaces button.focused {
  border: 1px solid #aaa;
}
#custom-cap-left,
#custom-cap-right {
  color: @bgcolor;
  font-size: 24px;
}

#idle_inhibitor {
  background: @bgcolor;
  padding-left: 20px;
  padding-right: 10px;
}

#custom-offswitch {
  background: @bgcolor;
  padding-right: 20px;
  padding-left: 10px;
}

#custom-weather,
#cpu,
#temperature,
#memory,
#pulseaudio,
#custom-vpn,
#disk,
#battery,
#clock,
#network {
  background: @bgcolor;
  padding-left: 10px;
  padding-right: 10px;
}
